
@charset "UTF-8";
/* CSS Document */

#flash_container {
	height:500px;
	margin:auto;
	width:100%;
}

.carousel {
	margin:0px auto 10px;
	width:80%;
}

.carouseltop {
	overflow:hidden;
	position:relative;
	width:575px;
	}


.popupfield {
	display:none;
	position:absolute;
	clear:both;
	margin:20px 0px 0px 10px;
}


.carouselnavbuttons {
	overflow:hidden;
	margin:5px auto 5px;
	text-align:center;
	width:80%;
	position:relative;
}

.navindicate {
	float:left;
	font-size:0.9em;
}

.bulletcontainer {
	overflow:hidden;
	margin:auto;
	position:relative;
	text-align:center;
}

.carousel .previousbutton {
	background:url('../images/navarrows.png') -46px no-repeat;
	cursor:pointer;
	width:46px;
	margin:0px 5px;
	height:22px;
	position:relative;
	float:left;
}

.carousel .nextbutton {
	background:url('../images/navarrows.png') -92px no-repeat;
	cursor:pointer;
	width:46px;
	margin:0px 5px;
	height:22px;
	position:relative;
	float:left;
}

.carousel .previousbutton:hover {
	background:url('../images/navarrows.png') 0px no-repeat;
	cursor:pointer;
	text-decoration:none;
}

.carousel .nextbutton:hover {
	background:url('../images/navarrows.png') -138px no-repeat;
	cursor:pointer;
	text-decoration:none;
}

.carousel .previousbutton:active {
	cursor:pointer;
}

.carousel .nextbutton:active {
	cursor:pointer;
}


.carousel .previousdisable, 
.carousel .previousdisable:hover {
	background:none;
	cursor:default;
}

.carousel .nextdisable, 
.carousel .nextdisable:hover {
	background:none;
	cursor:default;
}

.controlscontainer .statuscontainer {
	text-align:center;
	}

.bulletcontainer .navbullets {
	background:url('../images/buttons.gif') -205px -10px no-repeat;
	width:15px;
	height:15px;
	float:left;
	margin:5px 2.5px;
	text-decoration:none;
	cursor:pointer;
}
.bulletcontainer .current {
	background:url('../images/buttons.gif') -218px -10px no-repeat;
	width:15px;
	height:15px;
	float:left;
	margin:5px 2.5px;
	text-decoration:none;
	cursor:default;
}


._clipwindow {
	width:95%;
	height:345px;
	overflow:hidden;
	background:#fff;
	position:relative;
	margin:auto;
}

._clipwindow .loadingcontainer {
	position:absolute;
	padding:5px;
	z-index:50;
	border:1px solid #333;
	background:#333;
	filter: alpha(opacity=85);
  	-moz-opacity: 0.85;
  	opacity: 0.85;
	text-align:center;
	width:100%;
	color:#fff;
}


._clipwindow .status {
	position:relative;
	margin: 0;
	color:#FFF;
	text-align:center;
}

._clipwindow .error {
	color:#FFF;
	font-weight:bold;
	background:none;
	text-align:center;
	border:none;
}

.imagecontainer {
	margin:0;
	padding:0px;
	width:30000px;
	height:345px;
	position:relative;
}

.imagecontainer div.thumbnail {
	float:left;
	margin:5px 2.5px;
	width:140px;
	text-align:center;
	display:block;
	position:absolute;
}

.imagecontainer img.selected {
	border:3px solid #F00;
	cursor:default;
}

.imagecontainer div.thumbnail img {
	cursor:pointer;
	}

.imagecontainer .thumbnail-meta {
	font-size:0.9em;
	line-height:1.0em;
	display:none;
}

.carousel .carouselbottom {
	clear:both;
	padding:0px 25px 0px 35px;
}

.carousel label {
	font-weight:normal;
	font-size:0.9em;
	display:inline;
	cursor:pointer;
}

.thumbnail-meta {
	position:absolute;
	z-index:100;
	background:#fff;
	-moz-box-shadow:3px 3px 5px #777;
	-webkit-box-shadow:3px 3px 5px #777;
}

#edit-previewgenerator-field-thmbimage-0-ahah-wrapper, 
#previewgenerator-display-wrapper,
#thumbnail_linkto-wrapper {
	margin:0px 0px 0px 15px;
}
